/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #f0f0f0; 
    text-align: center; /* Centrar el texto en el cuerpo */
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000; /* Asegura que esté por encima del contenido */
	tex-align: center; /* Centra el contenido del encabezado*/
}

.search-container {
    padding: 10px;
    text-align: center;
}

#search {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

main {
    margin-top: 100px; /* Ajusta esto si tu header es más grande */
	padding: 20px;
}

.song {
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
	max-width: 800px; /* Limita el ancho máximo de cada canción */
}

.song-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
	text-align: center; /* Centra el título de la canción */
}

.verse, .chorus {
    margin: 10px 0;
	text-align: center;
}
